body {
    margin: 0
}

#editor {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 484px;
}

#output {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 484px;
    right: 0;
}

#autocomplete {
    visibility: hidden;
    position: absolute;
    z-index: 1000;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    font-size: 12px;
    margin-top: -4px;
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.ui-autocomplete.ui-menu {
    background-color: white;
    border: 1px solid #CCC
}

.ui-autocomplete .ui-state-focus {
    color: white;
    background-color: #08C;
}